<footer>
    <div class="container-fluid" id="footerPrev">
        {{#if task}} 
        <h4>{{task.title}}</h4>
        <small>{{task.date}}</small>
        <p>{{task.discrip}}</p>
        {{else}} 
            <span class="center">
                Select a task to preview it.
            </span>
        {{/if}}
    </div>
</footer>